<ion-header>
  <ion-navbar>
    <ion-title>
      扫一扫
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center="">
  <div *ngIf="dataService.isLogin">
    <img src="http://114.55.233.103/file/LinkBridgeMed-Assets/scan.jpg" style="width: 300px;">
    <button  (click)="scan()" type="button" ion-button outline block>扫一扫</button>
  </div>
  <div *ngIf="!dataService.isLogin">
    <img src="http://114.55.233.103/file/LinkBridgeMed-Assets/wechat.jpg" style="width: 300px;">

  </div>

</ion-content>
