// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.circle{
  border-radius: 50%;
}

.bg-blue{
  background: #3c82de;
  color: #ffffff;
}
.bg-f5{
  background: #f5f5f5;
}
.bg-green{
  background: #34b257;
  color: #ffffff;
}
.bg-white{
  background: #ffffff;
}
.bg-orange{
  background: #e9b23c;
  color: #ffffff;
}
.text-muted{
  color: #888;
}
.inline-block{
  display: inline-block
}
.item-center{
  margin: 0 auto;
}
.ml-sm{
  margin-left: 5px;
}
.ml-lg{
  margin-left: 10px;
}
.mr-sm{
  margin-right: 5px;
}
.mr-lg{
  margin-right: 10px;
}
.mt-sm{
  margin-top: 5px;
}
.mb-sm{
  margin-bottom: 5px;
}
.pt-sm{
  padding-top: 5px;
}
.p-sm{
  padding: 5px;
}
.pb-lg{
  padding-bottom: 10px;
}
.across{
  width: 100%;
}
.home-middle{
  .circle-button{
    width: 90px;
    height: 90px;
    padding-top: 10px;
    border: 5px solid #ffffff;
    img{
      margin:0 25px;width: 30px;height: 30px
    }
  }
  .square-button{
    width: 45%;
    height: 80px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    img{
      width: 40px;height: 40px;display: inline-block;
    }
  }
}
.home-order{
  .buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    .button{
      height: 60px;
      width: 60px;
      border-radius: 33%;
      padding: 15px;
      img{  width: 30px; height: 30px; }

    }
    .label{
      color: #555;
      padding: 7px 0;
    }
  }


}
.home-bottom{
  padding: 0 5px;
  font-size: 0;
  display: flex;

  .button{
    height: 50px;
    border-radius: 4px;
    width: 49%;
    text-align: left;
    padding: 10px 20px;
    color: #000000;
    font-size: 14px;
    display: flex;
    align-content: center;
    line-height: 30px;
    img{
      height: 30px;
      margin-right: 5px;
    }

  }
}

.step-box{
  display: flex;
  align-items: stretch;
  .step{
    width: 60px;
    border-left: solid 1px #888;
    display: flex;
    div{
      align-self: center;
      margin-left: -5px;
      background: #f5f5f5;
      height: 22px;
      line-height: 22px;
    }
    margin-left: 20px;
  }
  .content {
    width: 100%;
    background: #ffffff;
    margin-bottom: 15px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    color: #333;
    img {
      height: 50px;
    }

  }

}
